[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/cow"]
	path = lib/cow
	url = https://github.com/cowprotocol/contracts
	branch = feat/wrapper
[submodule "lib/euler-vault-kit"]
	path = lib/euler-vault-kit
	url = https://github.com/euler-xyz/euler-vault-kit
[submodule "lib/evc"]
	path = lib/evc
	url = https://github.com/euler-xyz/ethereum-vault-connector
