name = "testing"
version = "1.0.0"

[contract.Wrapper]
artifact = "MockERC20"
args = ["Foo", "BAR"]

[contract.Wrapper2]
artifact = "MockERC20"
args = ["Bar", "FOO"]
from = "0x1234123412341234213421341234123421341234"
